html{
    padding: 0;
    margin: 0;
    background-color: blueviolet;
}

body{
    display: flex;
    justify-content: center;
    align-content: center;
    
}

#display{
    padding: .5em;
    font-size: 2em;
}

#container {
    background-color: bisque;
    min-width: 18em;
    min-height: 25em;
    display: flex;
    flex-direction: column;
}

.btn-row {
    display: flex;
    justify-content: space-between;
}

.btn, .orange-row{
    padding: 1em;
    margin: .5em;
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    background-color: cornflowerblue;
    flex-grow: 1;
    border-radius: 100%;
}

.orange-row{
    background-color: coral;
    min-width: 2em;
}

#zero{
   flex-grow: 3.3;
}

#decimal{
  flex-grow: .66;
}



